.vscode/
.github/
src/
node_modules/
*.ts
!*.d.ts
*.map
*.mjs
.gitignore
.prettierrc
.prettierignore
.nvmrc
vitest.config.ts
tsconfig.json
eslint.config.mjs
esbuild.mjs
**/__tests__/
*.vsix
pnpm-lock.yaml
pnpm-workspace.yaml
PLAN.md
